body{
    background-color: #65dfef;
    text-align: center;
    
}
nav{
    align-content:center;
    background-color: #1f8cf2;
}

ol{
display: inline;
    text-align: center;
}
img-carousel{
    max-width: 30%;
}

